.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
.calculator {
  padding: 0px;
  background-color: white;
}

form input {
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 30px;
  border: 1px solid gray;
}

.zero {
  width: 160px;
}

.display {
  display: flex;
  justify-content: flex-end;
  /* margin:5px 0px 15px 0px; */
}
.display input {
  background-color: rgb(107, 112, 112);
  text-align: right;
  flex: 1;
  font-size:40px;
}
.orange{
    background-color:#f38636;
}
